    @font-face {
        font-family: 'JRK';
        src: url('../fonts/JRK.otf') format('OpenType');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montreal';
        src: url('../fonts/OTNeueMontreal-MediumExtraSqueezed.otf') format('OpenType');
        font-weight: normal;
        font-style: normal;
    }

  /* html */

    html {
        width: 100vw;
        overflow-x: hidden;
        position: relative;
    } 
  
    ::selection {
        background-color: #1A841A;
    }
  
    body {
        height: 100%;
        display: block;
        font-family: 'JRK';
        background-color: #EEEEEE;
    }
  
    p {
        color: rgb(0, 0, 0);
    }

    nav{
        width: 85vw;
        height: 5vw;
        top: 0;
        left: 50vw;
        transform: translateX(-50%);
        position: fixed;
        border-radius: 0px 0px 10px 10px;
        opacity: 0.9;
        background: #DADADA;
        z-index: 1000;
    }

    .logo-img {
        width: 6.25vw;
        margin-left: 1.61vw;
        margin-right: 36.77vw;
    }

    .a.logo-img:hover {
        width: 6.25vw;
        margin-left: 1.61vw;
        margin-right: 36.77vw;
        transition: all 0.2s ease-in-out;
    }

    .nav_items{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .nav_items > a:not(:first-child){
        margin-right: 3.7vw;
    }

    .nav_items > a{
        font-size: 3.33vw;
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
    }

    .nav_items > a:hover{
        color: #1A841A;
        transition: all 0.2s ease-in-out;
    }

    .current {
        background-color: #1A841A;
        color: #ffffff !important; 
    }

    .banner{
        width: 100vw;
        height: 56.25vw;
        position: relative;
        overflow: hidden;
        margin-top: -5vw;
        background-image: url(../images/banner.gif);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .rectangle-1 {
        width: 100vw;
        height: 56.25vw;
        z-index: 2;
        background-color: #EEEEEE;
        opacity: 0.85;
        position: absolute;
        top: 0;
    }

    .banner-header {
        font-size: 20.83vw;
        position: relative;
        margin-top: 15.63vw;
        margin-left: 30.99vw;
        z-index: 3;
    }

    .cube-1 {
        width: 8vw;
        position: absolute;
        top: 14vw;
        left: 16vw;
        animation-name: cube-1;
        animation-duration: 1s; 
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .lever {
        width: 18vw;
        transform: rotate(30deg);
        position: absolute;
        top: 25vw;
        left: -7vw;
        animation-name: lever;
        animation-duration: 2.5s; 
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }

    .chip {
        width: 9vw;
        position: absolute;
        top: 10vw;
        right: 3vw;
        animation-name: chip;
        animation-duration: 1s; 
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    .chip-2 {
        width: 9vw;
        position: absolute;
        top: 44vw;
        left: 23vw;
        animation-name: chip-2;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .cube-2 {
        width: 11vw;
        position: absolute;
        top: 42vw;
        left: 46vw;
        animation-name: cube-2;
        animation-duration: 1s; 
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .machine {
        width: 15vw;
        position: absolute;
        top: 23vw;
        right: 10vw;
        animation-name: machine;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }

    .cube-3 {
        width: 10vw;
        position: absolute;
        top: 44vw;
        left: 5vw;
        animation-name: cube-3;
        animation-duration: 0.5s; 
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    }